<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/tweet5.jpg" class="ui small image">
        </aside>
        <h3> Global Time Line Page</h3>
        <article class="eight wide column">

            <table class="ui celled table segment">
                <thead>
                <tr>
                   <th>Message/Tweets</th>
                    <th>Sender  </th>
                </tr>
                </thead>

                <tbody>
                {{#each tweets}}
                    <tr>
                        <td> {{message}} </td>
                        <td> {{user.firstName}} {{user.lastName}}</td>
                    </tr>
                {{/each}}

                </tbody>
            </table>
        </article>
    </div>
</section>