<section class="ui raised segment" xmlns="http://www.w3.org/1999/html">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/tweet2.jpg" class="ui small image">
        </aside>
        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>

                <tr>
                    <th>Message/Tweet</th>
                    <th>Message receiver</th>
                </tr>
                </thead>

               <tbody>
                <select id="message">
                {{#each tweets}}
                    <tr>
                        <td> {{message}} </td>
                    </select>
                        <td> {{friend.lastName}}, {{friend.firstName}} </td>
                    </tr>
                {{/each}}

                </tbody>
            </table>
        </article>
    </div>
    <button onclick="timeline_report()"> remove selected message</button>
   </section>





