<section class="ui raised segment">
    <div class="ui grid ">
        <div class="ui form six wide column">
            <div class="ui stacked segment">
                <form action="/tweet" method="POST">
                    <label for="message">Please write your message here</label>
          <textarea name="message" maxlength="140" rows="10" cols="30">
      </textarea>

                    <div class="grouped inline fields">
                        <h3> Select Friend </h3>
                        {{#each friends }}
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="friend" value="{{lastName}},{{firstName}}">
                                    <label>{{lastName}}, {{firstName}}</label>
                                </div>
                            </div>
                        {{/each}}
                    </div>

                    <button class="ui blue submit button">Tweet</button>
                </form>
            </div>
        </div>
        <aside class="six wide column">
            <img src="images/tweet1.jpg" class="ui large image">
        </aside>
    </div>

</section>
