<section class="ui raised segment">
<div class="ui grid">
    <aside class="six wide column">
        <img src="images/tweet5.jpg" class="ui small image">
    </aside>
<article class="eight wide column">

<table class="ui celled table segment">
    <thead>
    <tr>
        <th>Message/Tweet</th>
        <th>Sender Name</th>
        <th>Email</th>


    </tr>
    </thead>

    <tbody>
{{#each tweets}}
    <tr>
        <td> {{message}} </td>
        <td> {{twitter}} </td>
        <td> {{tweeple.firstName}} {{tweeple.lastName}}</td>

    </tr>
{{/each}}

</tbody>
</table>
</article>
</div>
</section>