
<img src="images/blogDirec.jpg" class="ui small image">
<div class="ui one column grid">
    <div class="ten wide column">
        <div class="ui segment">
            <div class="ui segment">


                <h4>
                    <a href="/publicblog/show?id=1"> Homer Simpson Tweets </a>
                </h4>
                <div class="ui divider"></div>
                <h4>
                    <a href="/publicblog/show?id=2"> Marge Simpson Tweets</a>
                </h4>
                <div class="ui divider"></div>

                <h4>
                    <a href="/publicblog/show?id=3"> Lisa Simpson Tweets</a>
                </h4>
                <div class="ui divider"></div>

                <h4>
                    <a href="/publicblog/show?id=4"> Bart Simpson Tweets</a>
                </h4>

            </div>
        </div>
    </div>
</div>
