<section class="ui raised segment" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<section class="ui raised segment">
    <div class="ui grid ">
        <div class="ui form six wide column">
            <h3>Admins page</h3>

            