{{> welcomemenu }} <!--uses partial -->

<section class="ui raised segment">
    <div class="ui grid">

        <aside class="ui six wide column">
            <img src="images/listen.jpg" class="ui medium image">
        </aside>

        <div class="ui ten wide column fluid form">
            <div class="ui stacked segment">
                <form action="/adminLogin" method="POST">
                    <h3 class="ui header">Administrator LogIn</h3>
                    <div class="field">
                        <div class="ui labeled input">
                            <div class="ui label"> Email</div>
                            <input placeholder="Email" type="text" name="email">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui labeled input">
                            <div class="ui label"> Password</div>
                            <input placeholder="Password" type="password" name="password">
                        </div>
                    </div>
                    <button class="ui fluid teal submit button">Login</button>
                </form>
                {{> formerror }}
            </div>
        </div>
    </div>
</section>
