{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/tweet1.jpg" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Welcome to Twitter </header>
      <p> Tweet to family and friends for free! </p>
    </article>
  </div>
</section>